DB_HOST=3.35.190.76
DB_PORT=3306
DB_NAME=paxlink
DB_USER=paxlink
DB_PASSWORD=replace_with_your_password
DB_CONNECTION_LIMIT=1
DB_MAX_IDLE=1
DATABASE_URL=mysql://paxlink:replace_with_your_password@3.35.190.76:3306/paxlink
PORT=4500
APP_URL=https://paxlink.kr
EMAIL_DELIVERY_MODE=mock
SUPERVISOR_USERNAME=supervisor
SUPERVISOR_PASSWORD=sup2rv!sor
SUPERVISOR_SESSION_SECRET=replace_with_at_least_32_random_characters
NODE_ENV=development
SMTP_HOST=smtp.worksmobile.com
#SMTP_PORT=465
SMTP_PORT=587
SMTP_USER=kimch@monorama.kr
#SMTP_PASS=Cupcake@83
SMTP_PASS=RPquTg9sqdEy
SMTP_FROM=kimch@monorama.kr
SMTP_FROM_NAME=Paxlink